* {margin:0px; padding:0px;}
body {background: #38690d url(/media/img/body-bg.jpg) center top; text-align:center; font-size:12px; color:#240f02; font-family: Verdana, Arial, Helvetica, sans-serif;}

img {border: medium none;}
blockquote {padding: 5px 20px; text-align: left; color:#602600}
blockquote blockquote {padding: 2px 10px; text-align: left; color:#602600; font-style:italic;}
a {text-decoration:none; color:#c97e00; border: 0px;}
a:hover {text-decoration:underline; border: 0px;}
a.u {text-decoration:underline; border: 0px;}
a.u:hover {text-decoration:none; border: 0px;}
a.n, a.n:hover {text-decoration:none; border: 0px;}
a:focus, a:active {outline: none;}

p {padding:7px 0;  line-height: 130%;}
.border {border:1px solid red;}
h1, h2, h3, h4 { font-family: "Trebuchet MS";}
hr {border-left:0px solid #abb0b5; border-right:0px solid #abb0b5; border-top:1px dotted #abb0b5; border-bottom:0px solid #abb0b5; height: 1px;}

input {font-family: 'Verdana'; color: #240f02; font-size: 11px;}
textarea {font-family: 'Verdana'; color: #240f02; font-size: 11px;}
select {font-family: 'Verdana'; color: #240f02; font-size: 11px;}

.left-bg {position:absolute; left:0px; top:0px; width:50%; height:517px; margin-left:-450px; background: url(/media/img/top-left-bg-repeat.jpg) right top repeat-x;}
.script {position:absolute; right:0px; top:104px; width:100%; height:413px; background: url(/media/img/left-bg.jpg) right top no-repeat;}
.right-bg {position:absolute; right:0px; top:0px; width:50%; height:223px; background: url(/media/img/top-right-bg-repeat.jpg) 85px 0px repeat-x;}
#head {position:relative; width:900px; height:250px; margin:0 auto; text-align:left; background: url(/media/img/top-right-bg-repeat.jpg) 90px 0px repeat-x;}
.crack {position:absolute; left:0px; top:0px; width:900px; height:51px; background: url(/media/img/crack.jpg) 627px 0px no-repeat;}
.header {width:627px; height:250px; background: url(/media/img/header-bg.jpg) no-repeat;}
	.logo {position:absolute; left:0px; top:115px; width:627px;}
	.logo h1 {font: bold 26px/120% Georgia; color:#602600; padding:0 0 10px 20px; margin-right:16px;}
	.logo .description {position:absolute; right:20px; top:30px; font: bold italic 18px/120% Georgia; color:#602600;}
	.logo h1 a, .logo h1 a:hover {color:#602600; text-decoration:none;}
	.logo a b {}
	.shadow-right {position:absolute; left:627px; top:115px; width:102px; height:380px; background: url(/media/img/right-bg.jpg) no-repeat;}
	#menu {position:absolute; left:100px; top:80px;}
	#menu ul {list-style:none;}
	#menu ul li {display:block; float:left; padding:0 17px;}
	* html #menu ul li {display:inline;}
	#menu ul li a {color:#97712c;}
	.searchbox {position:absolute; left:640px; top:100px; width:176px; font-size:11px; color:#97712c;}
	#searchform .label {display:block; padding:0px 0px 2px 5px;}
		.search {width:135px; height:20px; background: url(/media/img/search-input.gif) left top no-repeat; float:left;}
	#searchform input {border:none; background:transparent url(/media/img/go-button.gif) left top no-repeat; font-weight: bold; color:#ceb978; width:30px; height:20px; float:right;}
	#searchform .search #s {border:none; background:transparent; color:#ceb978; width:125px; height:auto !important; margin:3px 0 0 4px; float:left;}

#content {position:relative; width:900px; margin:0 auto; text-align:left;}
#main {position:relative; float:left; width:627px;}
	.content {position:relative; width:627px; background: url(/media/img/content-bg.jpg);} 
	.cont-r {position:relative; background: url(/media/img/border.gif) right top repeat-y;}
	.cont-l {position:relative; background: url(/media/img/border.gif) left top repeat-y;}
	.cont-bot {position:relative; background: url(/media/img/content-bottom-bg.jpg) left bottom no-repeat; top:0px; bottom:0px; min-height:380px;}
	.grad-hack {position:relative; background: url(/media/img/header-bg.jpg) 0px -170px no-repeat; width:627px; overflow:hidden; margin-top:-80px; padding-bottom:20px}
	.begin {background: url(/media/img/begin.gif) 10px 0px no-repeat; position:absolute; top:0px; left:0px; width:100%; height:40px; z-index:10;}
	
	.content h1 {font: 20px "Trebuchet MS"; color:#602600; letter-spacing:-1px; padding-top:10px; padding-left:25px;}
	.content h2 {font:bold 18px "Trebuchet MS"; color:#602600; padding:10px 0px 2px 20px;}
	.content h3 {font:bold 16px "Trebuchet MS"; color:#602600; padding:10px 0px 2px 20px;}
	.content h4 {font:bold 14px "Trebuchet MS"; color:#602600; padding:7px 0px 2px 15px;}
	.content h5 {font:bold 12px "Trebuchet MS"; color:#602600; padding:5px 0px 2px 10px;}
	.content h6 {font:bold 10px Verdana; color:#602600; padding:5px 0px 2px 0px;}
	.content h2.pagetitle {position:absolute; top:0px; right:30px; padding:0px; font-size:12px;}
	.post {padding:24px 10px 10px 10px; background: url(/media/img/post-devider.jpg) no-repeat;}
	.post1 {padding:0px 10px 10px 10px;position:relative; z-index:100;}
	* html .post {position:relative;}
	* html .post1 {position:relative; height:350px;}
	.content .title {padding:0px;}
	.content .date {font:normal 24px/47px Georgia; margin-right:10px; color:#ffffff; float:left; width:59px; height:56px; overflow:hidden; text-align:center; background: url(/media/img/date-bg.gif) no-repeat;}
	.content .date .month {font: 14px/16px Arial; color:#4c2604; margin:-10px 0px 0 0; text-transform:lowercase;}
	.content h1 a, .content h1 a:hover {color:#602600; text-decoration:none;}
	.content p.author {color:#240f02; padding:0px 0px 0px 0px; font-size:11px;}
	.entry {position:relative; padding:0 0 10px 0; clear:both;}
	.entry img.left, .entry img[align="left"], .entry img.right, .entry img[align="right"] {border:1px solid #99ba09; margin:0px 5px 5px 5px; max-width:603px}
	.entry img {border:1px solid #99ba09; margin:0px 5px 0px 5px; max-width:603px}
	.entry img.wp-smiley {border:none; margin:0px 2px 0px 2px; max-width:603px}

	.backtotop {position:relative; text-align:right; padding-right:10px; margin-top:-10px; z-index:100;}
		.backtotop a {padding:0px 4px 1px; line-height:100%; background-color:#8c7246; font-size:10px; color:#ffffff;}
		.backtotop a:hover {background-color:#1a0603; text-decoration:none;}

#main ul {position:relative; list-style:none; padding:5px 20px;}
#main ul li {display:block; padding:2px 0px 2px 12px;  background: url(/media/img/marker.gif) 0px 7px no-repeat;}
#main ol {padding: 5px 40px; list-style: decimal}
/*#main ol li {padding:2px 0px 2px 0px;}*/


#sidebars {position:relative; width:260px; float:right; margin-top:-66px;}
#sidebars #searchform #s {border:1px solid #212121; background:#689330; background-image:none; color:#ffffff; width:100%; height:auto !important; margin:0px 0 0 0px;}

.sb-bot {position:relative; background:url(/media/img/sidebar-bottom.jpg) center bottom repeat-x; margin-top:15px;}
.sb-top {position:relative; background:url(/media/img/sidebar-top.jpg) center top repeat-x;}
.sb-right {position:relative; background:url(/media/img/sb-border.gif) right top repeat-y;}
.sb-left {position:relative; background:url(/media/img/sb-border.gif) left top repeat-y;}
.sb-rb {position:relative; background:url(/media/img/sidebar-rb.jpg) right bottom no-repeat;}
.sb-lb {position:relative; background:url(/media/img/sidebar-lb.jpg) left bottom no-repeat;}
.sb-rt {position:relative; background:url(/media/img/sidebar-rt.jpg) right top no-repeat; width:100%}
.sb-lt {position:relative; background:url(/media/img/sidebar-lt.jpg) left top no-repeat; padding:10px 10px 15px 10px; width:237px; overflow:hidden;}

#sidebars h2 {position:relative; font:bold 16px "Trebuchet MS"; color:#602600; margin:0 -6px; text-align:center; background:url(/media/img/sidebar-title-line.jpg) center bottom no-repeat; padding:3px 0 18px 0;}
#sidebars a {color:#602600;}
#sidebars ul {display:inline-block; position:relative; padding:3px 0 0px 0; list-style:none; background:none}
#sidebars ul li {display:block; position:relative; font-size: 12px; color:#240f02; padding:0px 0px; width:237px}
* html #sidebars ul li {display:inline-block;}
*:first-child+html #sidebars ul li {display:inline-block;}
#sidebars ul li a {color:#602600; padding:2px 0px 2px 15px; display:block; background: url(/media/img/sb-marker.gif) 3px 7px no-repeat;}
#sidebars ul li.current-cat a {color:#240f02; background:#c18c35 url(/media/img/sb-marker-hover.gif) 3px 7px no-repeat;}
#sidebars ul li a:hover {color:#240f02; background:#c18c35 url(/media/img/sb-marker-hover.gif) 3px 7px no-repeat; text-decoration:none;}
#sidebars ul li p a {color:#602600; display:inline; background: none; padding:0px;}
#sidebars ul li p a:hover {color:#602600; display:inline; background:#c18c35 none; padding:0px;}
#sidebars ul li ul {padding:0px 0 0px 0px; list-style:none;}
#sidebars ul li ul li a {padding:2px 0px 2px 25px; background: url(/media/img/sb-marker.gif) 13px 7px no-repeat;}
#sidebars ul li ul li a:hover {background:#c18c35 url(/media/img/sb-marker-hover.gif) 13px 7px no-repeat;}

#recentcomments li a {background:none !important; padding:0 0 0 0;}
.textwidget iframe {position:relative; margin:0 -5px 10px -5px;}

.logo-bottom {position:absolute; right:30px; bottom:15px; z-index:1000;}


a:hover abbr {border:none;}


#footer {position:relative; width:900px; margin:0 auto; text-align:left;}
#footer a {color:#602600;}
.copy {padding:25px 0px 15px 0px; font-size:11px; z-index:100; width:590px; text-align:right;}

.clear {clear:both;}
