* {margin:0px; padding:0px;}
body {background: #38690d url(/media/img/body-bg.jpg) center top; text-align:center; font-size:12px; color:#240f02; font-family: Verdana, Arial, Helvetica, sans-serif;}

img {border: medium none;}
blockquote {padding: 5px 20px; text-align: left; color:#602600}
blockquote blockquote {padding: 2px 10px; text-align: left; color:#602600; font-style:italic;}
a {text-decoration:none; color:#c97e00; border: 0px;}
a:hover {text-decoration:underline; border: 0px;}
a.u {text-decoration:underline; border: 0px;}
a.u:hover {text-decoration:none; border: 0px;}
a.n, a.n:hover {text-decoration:none; border: 0px;}
a:focus, a:active {outline: none;}

p {padding:7px 0;  line-height: 130%;}
.border {border:1px solid red;}
h1, h2, h3, h4 { font-family: "Trebuchet MS";}
hr {border-left:0px solid #abb0b5; border-right:0px solid #abb0b5; border-top:1px dotted #abb0b5; border-bottom:0px solid #abb0b5; height: 1px;}

input {font-family: 'Verdana'; color: #240f02; font-size: 11px;}
textarea {font-family: 'Verdana'; color: #240f02; font-size: 11px;}
select {font-family: 'Verdana'; color: #240f02; font-size: 11px;}

a:hover abbr {border:none;}
