[buildout]
parts = django
        django-config
        make-config
        svncode
        django-imagekit
        django-pages-link
        django-pages-seo
        django-url-methods
        django-trusted-html
        django-model-url

[django]
recipe = djangorecipe
project = cbk74
version = 1.0.2
settings = production
unzip = true
extra-paths = ${django-config:location}
              ${svncode:location}/django-mptt
              ${svncode:location}/django-page-cms
              ${svncode:location}/django-tinymce
              ${svncode:location}/django-chunks
              ${django-imagekit:location}
              ${django-pages-link:location}
              ${django-pages-seo:location}
              ${django-url-methods:location}
              ${django-trusted-html:location}
              ${django-model-url:location}

[django-config]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-config.git
rev = b9d5dbbd9879173496e793af96125dfbf84fec95

[make-config]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds = sudo rm -f bin/init.d bin/lighttpd bin/logrotate bin/monit
       sudo bin/django make_config init.d > bin/init.d
       sudo bin/django make_config lighttpd > bin/lighttpd
       sudo bin/django make_config logrotate > bin/logrotate
       sudo bin/django make_config monit > bin/monit
       sudo chown root:root bin/init.d bin/lighttpd bin/logrotate bin/monit
       sudo chmod ug=rwx,o=rx bin/init.d
       sudo chmod ug=rw,o=r bin/lighttpd bin/logrotate bin/monit
       echo Configs were saved to "bin/"

[svncode]
recipe = iw.recipe.subversion
urls = http://django-mptt.googlecode.com/svn/trunk@121 django-mptt
       http://django-page-cms.googlecode.com/svn/trunk@664 django-page-cms
       http://django-tinymce.googlecode.com/svn/trunk@94 django-tinymce
       http://django-chunks.googlecode.com/svn/trunk@7 django-chunks

[django-imagekit]
recipe = hexagonit.recipe.download
url = http://bitbucket.org/jdriscoll/django-imagekit/get/0.3.2.zip
strip-top-level-dir = true
#md5sum = d5eb65cf7ddccd85197ab227d2d742cd

[django-pages-link]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-pages-link.git
rev = 94c75d1ac3eb960e4e00639d2f17b3b5034b4743

[django-pages-seo]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-pages-seo.git
rev = a48bd23d2ae32fa80e97be9f989de64c9886a1c2

[django-url-methods]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-url-methods.git
rev = 0e9bf4f529a170d6238b7765d5bd2161fc5d14fc

[django-trusted-html]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-trusted-html.git
rev = e4a5bedadbaaacea0fa325a90bf3a10661d7652b

[django-model-url]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-model-url.git
rev = 6eba3520565ee427dd4c1155b14af32ba46751c2  
