{% load chunks menuproxy_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; {% chunk "charset" %}" />
    <meta name="keywords" content="{% block seo_keywords %}{% endblock %}" />
    <meta name="description" content="{% block seo_description %}{% endblock %}" />
    <title>{% block seo_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% chunk "end-of-head" %}
</head>
<body>
    <div class="left-bg"><div class="script"></div></div>
    <div class="right-bg"></div>
    <div id="head">
        <div class="crack"></div>
        <div class="header" id="top">
            <div id="menu">
                {% show_main_menu current_page %}
            </div>
            <div class="logo">{% chunk "logo" %}</div>
        </div>
        <div class="shadow-right"></div>
        {% comment %}
        <div class="searchbox">
            <form id="searchform" action="#" method="get">
                <div class="label">Поиск по сайту:</div>
                <div class="search"><input type="text" value="" name="s" id="s" /></div>
                <div><input type="submit" id="searchsubmit" value="»" /></div>
            </form>
        </div>
        {% endcomment %}
    </div>
    <div id="content">
        <div id="main">
            <div class="content"><div class="cont-r"><div class="cont-l"><div class="cont-bot">
                <div class="grad-hack"><div class="begin"></div>
                    <div class="post1">
                        <div class="title">
                            <h1>{% block title %}{% endblock %}</h1>
                        </div>
                        <div class="entry font-resize">
                            {% block content %}{% endblock %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="backtotop"><a class="scroll" href="#top">Ввех</a></div>
                </div>
            </div></div></div></div>
        </div>
        <div id="sidebars">
            <div id="panel-1" class="sb-bot"><div class="sb-top"><div class="sb-right"><div class="sb-left"><div class="sb-rb"><div class="sb-lb"><div class="sb-rt"><div class="sb-lt">
                {% chunk "panel-1" %}
            </div></div></div></div></div></div></div></div>
            <div id="panel-2" class="sb-bot"><div class="sb-top"><div class="sb-right"><div class="sb-left"><div class="sb-rb"><div class="sb-lb"><div class="sb-rt"><div class="sb-lt">
                {% chunk "panel-2" %}
            </div></div></div></div></div></div></div></div>
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    
    </div>
    <div id="footer">
        <div class="copy">
            <div id="copyright">{% chunk "copyright" %}</div>
            <div id="developer"><a href="http://www.a-iv.info" title="Разработка программного обеспечения - Александр Иванов">Разработка - Александр Иванов</a></div>
        </div>
    </div>
    {% chunk "end-of-body" %}
</body>
</html>
<!-- Fix bug in FF & narod-banner